{% extends 'base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %} {% block content %}
<div class="main-container">
	<img src="{% static 'images/header_img.png' %}" alt="메인이미지" />
</div>
<div class="main-note">
	<div class="main-note-title">
		<img src="{% static 'images/note_img.png' %}" alt="회고이미지" />
		<h3>오늘의 작업을 기록해보세요.</h3>
	</div>
	<div class="main-note-content">
		{% if user.is_authenticated %}
		<div class="login_content">
			<p class="m_title">서비스명</p>
			<p class="m_content">[1일차] 초기 세팅</p>
			<p class="m_date">2026.02.02</p>
		</div>
		{% else %}
		<p class="unlogin_content">로그인 후 이용해보세요.</p>
		{% endif %}
	</div>
</div>
<div class="main-team">
	<!-- 기간별 분기 -->
	<!-- 팀 매칭 기간O -->
	<h3>팀 매칭 모집이 시작됐어요</h3>
	<p>
		6주의 기간동안 희망하는 스택으로 프로젝트를 진행하고, 실력을 쌓아보아요.
	</p>
	<!-- 팀 매칭 기간X (다음 팀 매칭 날짜 확정 안 되었을 때) -->
	<!-- <h3>팀 매칭 모집 기간이 아니예요</h3> -->
	<!-- 팀 매칭 기간X (다음 팀 매칭 날짜 확정 되었을 때) -->
	<!-- <h3>팀 매칭 모집 D-N</h3> -->
	<div class="m_team_stack">
		<div class="m_design">
			<h3>WEB 기획</h3>
			<!-- 레벨 분기 -->
			<!-- 레벨X -->
			<img src="{% static 'images/nolevel.png' %}" alt="nolevel" />
			<p class="m_nolevel">아직 레벨 진단이 완료되지 않았어요!</p>
			<button class="m_design_btn" type="button">레벨 진단하기</button>
			<!-- 레벨1 -->
			<!-- <img src="{% static 'images/Level1.png' %}" alt="Level1">
            <p class="m_level">Lv1</p>
            <button class="m_design_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨2 -->
			<!-- <img src="{% static 'images/Level2.png' %}" alt="Level2">
            <p class="m_level">Lv2</p>
            <button class="m_design_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨3 -->
			<!-- <img src="{% static 'images/Level3.png' %}" alt="Level3">
            <p class="m_level">Lv3</p>
            <button class="m_design_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨4 -->
			<!-- <img src="{% static 'images/Level4.png' %}" alt="Level4">
            <p class="m_level">Lv4</p>
            <button class="m_design_btn">팀 매칭 신청하기</button> -->
		</div>
		<div class="m_frontend">
			<h3>WEB 프론트엔드</h3>
			<!-- 레벨 분기 -->
			<!-- 레벨X -->
			<!-- <img src="{% static 'images/nolevel.png' %}" alt="nolevel" />
			<p class="m_nolevel">아직 레벨 진단이 완료되지 않았어요!</p>
			<button class="m_front_btn" type="button">레벨 진단하기</button> -->
			<!-- 레벨1 -->
			<img src="{% static 'images/Level1.png' %}" alt="Level1" />
			<p class="m_level">Lv1</p>
			<button class="m_front_btn">팀 매칭 신청하기</button>
			<!-- 레벨2 -->
			<!-- <img src="{% static 'images/Level2.png' %}" alt="Level2">
            <p class="m_level">Lv2</p>
            <button class="m_front_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨3 -->
			<!-- <img src="{% static 'images/Level3.png' %}" alt="Level3">
            <p class="m_level">Lv3</p>
            <button class="m_front_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨4 -->
			<!-- <img src="{% static 'images/Level4.png' %}" alt="Level4">
            <p class="m_level">Lv4</p>
            <button class="m_front_btn">팀 매칭 신청하기</button> -->
		</div>
		<div class="m_backend">
			<h3>WEB 백엔드</h3>
			<!-- 레벨 분기 -->
			<!-- 레벨X -->
			<!-- <img src="{% static 'images/nolevel.png' %}" alt="nolevel" />
			<p class="m_nolevel">아직 레벨 진단이 완료되지 않았어요!</p>
			<button class="m_back_btn" type="button">레벨 진단하기</button> -->
			<!-- 레벨1 -->
			<!-- <img src="{% static 'images/Level1.png' %}" alt="Level1" />
			<p class="m_level">Lv1</p>
			<button class="m_back_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨2 -->
			<!-- <img src="{% static 'images/Level2.png' %}" alt="Level2">
            <p class="m_level">Lv2</p>
            <button class="m_back_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨3 -->
			<!-- <img src="{% static 'images/Level3.png' %}" alt="Level3">
            <p class="m_level">Lv3</p>
            <button class="m_back_btn">팀 매칭 신청하기</button> -->
			<!-- 레벨4 -->
			<img src="{% static 'images/Level4.png' %}" alt="Level4">
            <p class="m_level">Lv4</p>
            <button class="m_back_btn">팀 매칭 신청하기</button>
		</div>
	</div>
</div>
<div class="main-project">
	<div class="m_project_title">
		<img src="{% static 'images/project_img.png' %}" alt="project_img" />
		<h3>KITUP 프로젝트</h3>
	</div>
	<div class="m_project_content">
		<!-- 반복문으로 지금까지 있었던 프로젝트 등록 -->
		<div class="m_project"></div>
		<!-- 프로젝트 없는 경우 -->
		<!-- <h3>진행된 KITUP 프로젝트가 없습니다.</h3> -->
	</div>
</div>
{% endblock %}
